<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seqwa | Recommend</title>
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Seqwa Recommend with Java and Springboot" />
  <script type="module" crossorigin src="/assets/index.e8dfe6ee.js"></script>
  <link rel="modulepreload" href="/assets/vendor.91642444.js">
  <link rel="stylesheet" href="/assets/index.087a6103.css">
</head>

<body>
  <div id="app"></div>

</body>

</html>